body{
    margin:0px;
 
    background: linear-gradient(90deg, rgba(23,10,254,1) 40%, rgba(0,0,0,1) 40%, rgba(5,91,94,1) 40%, rgba(12,242,250,1) 56%);
    padding:0px;
    font-family: "Montserrat", sans-serif;
}
h1{
    font-size:25px;
    color:white;

    width:300px;
    margin-right: auto;
    margin-left: auto;

}

#timer{
    border:solid 2px black;
    height:50px;
    border-radius:8px;
    margin-left: auto;
    margin-right: auto;
    width:180px;
    color:white;
}
@media(max-width:600px){
    h1{
        font-size:45px;
        text-align: center;
    }
button{
    background-color: rgb(6, 197, 255);

    color:whitesmoke;
    border:none;
    border-radius: 8px;
    height:50px;
    width:130px;
    
}
#container{
    display:flex;
    gap:20px;
    margin-top:160px;
}
.blank{
    position:fixed;
    border:none;
    background-color:rgba(12,242,250,1) ;
margin-left:280px;
margin-top:50px;
}
.blank2{
    border:solid 2px linear-gradient(90deg, rgba(23,10,254,1) 40%, rgba(0,0,0,1) 40%, rgba(5,91,94,1) 40%, rgba(12,242,250,1) 56%); ;
    margin-top:150px;
    height:400px;
    display:none;
}
.close{
    position:relative;
    top:-20px;
    left:270px;
    background-color: rgba(12,242,250,1);
}
.submit{
    background-color:rgba(12,242,250,1);
    position:relative;
    left:280px;
    top:200px;
}
.move{
    position: relative;
    top:180px;
    right:50px;
    height:40px;
    width:200px;
    background-color: black;
    border:none;
    border-radius:8px;
    color:aqua;
}
}
